@{
    ViewBag.Title = "CompanyManager";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

@using JobsFinder_Main.Identity
@using Microsoft.AspNet.Identity

@if (!User.Identity.IsAuthenticated)
{
    Html.RenderAction("Login", "User");
}
else
{
    var appDbContext = new AppDbContext();
    var userStore = new AppUserStore(appDbContext);
    var userManager = new AppUserManager(userStore);
    var currentUser = userManager.FindByName(User.Identity.Name);

    var companyDao = new Model.DAO.CompanyDao();
    var model = companyDao.ListInUser(currentUser.UserName).ToList();

    <h5 class="mb-3">Current enterprises</h5>

    if (model.Count != 0)
    {
        foreach (var item in model)
        {
            <div class="d-flex align-items-center">
                <img class="avatar" src="@item.Avatar" alt="@item.Avatar" />
                <a id="@item.ID" href="/User/EditCompany/@item.ID" style="font-size: 16px; font-weight: 600; text-transform: uppercase;">@item.Name</a>
            </div>
            <hr class="my-2" />
        }
    }
    else
    {
        <p>You don't have any current enterprises.</p>
    }

    <a href="/User/CompanyManager">Create enterprise</a>

    <style>
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid #EEE;
            margin-right: 12px;
        }
    </style>
}
