@model Model.EF.DuAn

@if (!User.Identity.IsAuthenticated)
{
    { Html.RenderAction("Login", "User"); }
}
else
{
    <div id="formDeleteDuAn@(Model.ID)" class="p-4 form-profile form-delete">
        <div class="d-flex flex-column align-items-center">
            <img style="width: 120px; height: 120px; object-fit: cover;" src="~/Assets/Client/JobsFinder/img/DeleteIcon.png" />
            @using (Html.BeginForm("DeleteConfirm", "DuAn", FormMethod.Post, new { @class = "box-delete" }))
            {
                @Html.AntiForgeryToken()

                <p style="font-size:  16px; font-weight: 600;">Do you want to delete this item?</p>

                <div class="form-actions no-color d-flex justify-content-between" style="width: 100%">
                    <button type="reset" class="btn btn-outline-primary btn-cance" style="border-radius: 4px; width: 45%;">Cancle</button>
                    <button type="submit" class="btn btn-danger" style="border-radius: 4px; width: 45%;">Delete</button>
                </div>
            }
        </div>
    </div>

    <style>
        .form-delete {
            width: 400px !important;
            margin-top: 200px !important;
        }

            .form-delete .box-delete {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    </style>
}